@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar{
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb{
    background: #181819;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background: #6556cd;
    border-radius: 10px;
}

.select{
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #27272a;
    overflow: hidden;
    border-radius: 0.25em;
}

.select::after{
    content:"\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1rem;
    background-color: #27272a;
    cursor: pointer;
    pointer-events: none;
    transition: 0.25s all ease;
}
.select:hover::after{
    color: #6556cd;
}

.option{
    background-color: #27272a;

}
.select::-ms-expand{
    display: none;
}

